.name_ship{
    color: black;
}

.name_ship:hover{
    color: #007bff;
}

.type_ship{
    padding-left: 12px;
    font-size: 12px;
}

.name_berth{
    color: black;
}

.name_berth:hover{
    color: #007bff;
}