.min_35{
    position: center;
    min-height: 35rem;
    z-index: -1;
}

.min_25{
    position: center;
    min-height: 25rem;
    z-index: -1;
}

.img{
    min-width: 45rem;
    top:-10rem;
}

.text{
    position: absolute;
    left: 5rem;
    top: 5rem;
}
.whiteline{
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    margin-top: -50px;
    height: 20vh;
    overflow: hidden;
    background-size: cover;
}

@media only screen and (max-width: 1400px){
    .img{
        top:-5rem;
    }
}

@media only screen and (max-width: 1200px){
    .img{
        top:0rem;
    }
}

@media only screen and (max-width: 600px){
    .img{
        left:-7rem;
    }
}

@media only screen and (max-width: 400px){
    .img{
        left:-10rem;
    }
}
