.type{
    right: 0;
    top: 0;
}

.img_a{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.img{
    min-height: 30vh;
}

.name{
    width: 100%;
    left: 0;
    bottom: 5%;
    z-index: 1;
}









.oldPrice{
    right: 0;
    bottom: -20px;
    padding: 5px 10px;
    border-radius: 15px 0 0 0;
}

.redLine{
    color:red;
}

.hit{
    right: 0;
    top: 0;
}