.img_a{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.img{
    min-height: 25vh;
}

.name{
    width: 100%;
    left: 0;
    z-index: 1;
}

@media only screen and (max-width: 992px){
    .img{
        min-height: 25vh;
    }
}

@media only screen and (max-width: 600px){
    .img{
        min-height: 20vh;
    }
}

@media only screen and (max-width: 400px){
    .img{
        min-height: 15vh;
    }
}
